.mainUI {
	background-color: #fff;
	border-color: #000;
	border-style: solid;
	border-radius: 15px;
	margin-top: 200px;
	padding-top: 5px;
	width: 400px;
	text-align: center;
}

.mainUI p {
	font-style: italic;
	/*color: #999;*/
}

.mainUI input {
	text-align: center;
/*	width: 200;
	height: 50px;
	font-size: 2em;
	*/
}

.row{padding-top: 15px;}


.glyphs {
	text-align: center;
	font-size: 1.2em;
}

#inputNumber{
	width: 100px;
	max-width: 200px;
}

#instructions-modal-footer button{
	width: 100%;
}

#result-modal-footer button{
	width: 100%;
}

#modal-reset-game-button{
	width: 65%;
}

#result-modal-close-button{
	width: 30%;
}
/*.panel-heading h1 {
	font-size: 300%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
}

.panel-heading h6 {
	text-align: center;

}*/
/*
#collapseInstructions{
	text-align: center;
}*/


#resultModal p {
	font-size: 150%;
}

#blueList {
	color: #80D6FF;
}

#redList {
	color: #F06868;
}

#yellowList {
	color: #FAB57A;
}

/*http://www.himpfen.com/shadow-effect-bootstrap-components/*/
.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}
.box-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}
.box-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}
.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}
.box-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}
.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}